/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

.hidden {
  display: none;
}



.line1 {
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  
  animation: strokeAnimation 1s linear ;
  animation-fill-mode: forwards;
  animation-delay: 0.20s;
}

.line2 {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  
  animation: strokeAnimation 1s linear ;
  animation-fill-mode: forwards;
}

@keyframes strokeAnimation {
  to {
     stroke-dashoffset: 0;
  }
}

.circle {
  stroke-dasharray: 430;
  stroke-dashoffset: 430;
  
  animation: strokeAnimation 2s linear ;
  animation-fill-mode: forwards;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
 
}

main {
  flex: 1;
  max-width: 1600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.player {
  width: 20%;
  text-align: center;
  font-size: clamp(0.7em, 1.25svw, 1.5em);
}

.player .playerScore {
  font-size: clamp(1.3em, 2.5svw, 3em);
}

#player1 span, #player2 span  {
  display: block;
}

.container {
  width: 60%;
  max-width: 700px;
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: black;
  grid-gap: 1%;
}

.grid-item {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#reset {
  display: flex;
  justify-content: center;
  padding-top: 2.5%;
  width: 100%;
}

#reset button {
  width: clamp(91px, 25%, 150px);
  min-height: 2rem;
  border-radius: 10px;
  font-weight: 700;
  margin: 0.5%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
